.additional-goods {
  .mobile-max-width();
  margin: 0 auto;

  &__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-top: 25px;
  }
}

@media (min-width: @tablet-width) {
  .additional-goods {
    .tablet-max-width();
    margin: 0 auto;

    &__title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 80px;
    }
  }
}

@media (min-width: @desktop-width) {
  .additional-goods {
    .desktop-max-width();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 86px;
  }
}
