.additional {
  .mobile-max-width();
  margin: 0 auto;
  border: none;
  display: flex;
  flex-direction: column;

  &__title {
    margin-bottom: 34px;
  }

  label {
    .form-font();
    color: #000000;
    margin-bottom: 25px;
    margin-left: 46px;
    cursor: pointer;
  }

  &__checkbox {
    position: relative;
  }

  &__checkbox::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    // background-image: url("../img/form/checkbox.svg");
    border: 1px solid #cdcdcd;
    top: -22px;
    left: -46px;
  }

  &__checkbox:checked::after {
    content: "";
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url("../img/form/tick.svg");
    top: -19px;
    left: -43px;
  }

  &__checkbox:hover::before,
  &__checkbox:focus::before {
    border-color: #bababa;
  }

  &__checkbox:disabled + span,
  &__checkbox:disabled::before {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .additional {
    max-width: 565px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__title {
      margin-bottom: 62px;
    }

    label {
      font-size: 20px;
      line-height: 30px;
      width: 221px;
      margin-bottom: 42px;
    }

    label:nth-child(odd) {
      margin-left: 123px;
    }
  }
}

@media (min-width: @desktop-width) {
  .additional {
    width: 1124px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    label {
      width: max-content;
      margin-bottom: 66px;
    }
  }
}
