.additional-goods {
  .mobile-max-width();
  margin: 0 auto;

  &__title {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 36px;
    position: relative;
    display: block;
    width: fit-content;
    background-color: #ffffff;
    padding-right: 22px;
  }

  &__title::after {
    content: "";
    position: absolute;
    width: auto;
    height: 2px;
    background-color: #68b738;
    top: 15px;
    left: 0;
    right: -52px;
    z-index: -1;
  }
}

@media (min-width: @tablet-width) {
  .additional-goods {
    .tablet-max-width();
    margin: 0 auto;

    &__title {
      font-size: 36px;
      line-height: 36px;
      margin-bottom: 80px;
    }
  }
}

@media (min-width: @desktop-width) {
  .additional-goods {
    .desktop-max-width();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 86px;
  }
}
