.contacts {
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
    margin-left: 20px;
  }

  &__address {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #444444;
    margin: 0;
    padding: 0;
    margin-right: 20px;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    max-width: 768px;

    &__wrapper {
      min-height: 201px;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      width: 171px;
      margin: 0;
      margin-left: 71px;
    }

    &__address {
      margin: 0;
      margin-right: 72px;
      width: 160px;
      text-align: right;
    }

    &__map {
      // grid-area: 2 / 1 / 3 / 3;
      width: 768px;
      height: 400px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    max-width: 1440px;
    display: block;
    position: relative;
    min-height: 400px;
    background-color: #ffffff;

    &__wrapper {
      position: absolute;
      z-index: 1;
      background-color: #ffffff;
      width: 570px;
      height: 201px;
      top: 95px;
      left: 110px;
    }


    &__map {
      margin: 0 auto;
      width: 1440px;
      height: 400px;
    }

    &__title {
      width: 163px;
    }

    &__address {
      width: 155px;
    }
  }
}
