.example {
  background-color: #eaeaea;

  &__description {
    font-family: "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
  }

  &__stats-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__stats-item dt {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
  }

  &__stats-item dd {
    font-family: "Arial", sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #444444;
  }
}
