.example {
  background-color: #eaeaea;
  padding: 27px 20px 25px 20px;
  margin-bottom: 28px;

  &__title {
    .section-title();
    .mobile-max-width();
    margin: 0 auto;
    padding: 0;
    margin-bottom: 33px;
  }

  &__description {
    font-family: "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #444444;
    width: 279px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__stats-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  &__stats-item dl {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // position: relative;
  }

  &__stats-item dt {
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    // margin-bottom: 13.5px;
    width: 124px;
    min-height: 56px;
    box-sizing: border-box;
    padding: 14px 0 17px 0;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
  }

  &__stats-item dd {
    font-family: "Arial", sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #444444;
    background-color: #eaeaea;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 77px;
    position: relative;
    top: -10px;
    left: 23px;
  }

  &__cash {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 26px;
    margin-bottom: 42px;
  }

  &__image-wrapper {
    .mobile-max-width();
    margin: 0 auto;
  }

  &__image {
    margin-left: -19px;
  }

  &__image--after {
    display: none;
  }

  &__slider {
    margin-top: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: @tablet-width) {
  .example {
    .tablet-max-width();
    margin: 0 auto;
    background-color: transparent;
    padding-top: 43px;
    border-top: 1px solid #e6e6e6;

    &__title {
      .tablet-max-width();
      font-weight: normal;
      font-size: 60px;
      line-height: 60px;
    }

    &__description {
      width: 708px;
      font-size: 16px;
      line-height: 24px;
    }

    &__wrapper-stats {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__stats-list,
    &__cash {
      margin: 0;
    }

    &__stats-list {
      margin-left: 20px;
    }

    &__stats-item dt {
      font-size: 30px;
      line-height: 37px;
      width: 162px;
      min-height: 72px;
      padding: 15px 0 25px 0;
      margin-left: 42px;
    }

    &__stats-item dd {
      font-size: 14px;
      line-height: 14px;
      text-align: center;
      background-color: #ffffff;
    }

    &__stats-item--first dd {
      width: 114px;
      left: 65px;
    }

    &__stats-item--second dd {
      width: 142px;
      left: 52px;
    }

    &__cash {
      font-size: 20px;
      line-height: 30px;
      width: 174px;
      text-align: right;
    }

    &__image-wrapper {
      display: flex;
      margin: 0 auto;
      justify-content: center;
      position: relative;
      margin-top: 59px;
    }

    &__image-wrapper::before {
      content: "";
      position: absolute;
      width: 768px;
      height: 462px;
      background-color: #eaeaea;
      top: 191px;
      right: -244 px;
      z-index: -1;
    }

    &__image--before {
      width: 354px;
      height: 620px;
      margin-left: 30px;
      margin-right: 19px;
    }

    &__image--after {
      display: block;
      width: 354px;
      height: 607px;
    }

    &__slider {
      margin: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px 75px 110px;
    margin-top: 69px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, #ffffff 0%, #ffffff 25%, #f2f2f2 25%, #f2f2f2 100%);


    &__title {
      margin: 0;
      margin-bottom: 146px;
    }

    &__description {
      width: 436px;
      margin: 0;
    }

    &__wrapper-stats {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      align-self: start;
      margin-top: 60px;
    }

    &__stats-item {
      margin-bottom: 80px;
    }

    &__stats-item dd {
      background-color: #f2f2f2;
    }

    &__cash {
      width: 325px;
      text-align: center;
      margin: 0;
    }

    &__image-wrapper {
      align-self: end;
      margin-top: -30px;
    }

    &__image-wrapper::before {
      display: none;
      width: 1440px;
      height: 462px;
      background-color: #eaeaea;
      top: 0;
      right: 0;
      z-index: -1;
    }

    &__image--before {
      width: 365px;
      height: 536px;
    }

    &__image--after {
      width: 325px;
      height: 510px;
    }

    &__slider {
      width: 572px;
      display: flex;
      justify-content: space-between;
    }
  }
}
