.features {
  .mobile-max-width();
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 6px;
  display: flex;
  flex-direction: column;


  &__item {
    background-color: #f2f2f2;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 22px;
    width: 280px;
    margin-bottom: 17px;
    position: relative;
  }

  &__item--weight-loss::before {
    content: "";
    position: absolute;
    background-image: url("../img/cat_slim.svg");
    background-repeat: no-repeat;
    width: 50px;
    height: 53px;
    background-size: contain;
    top: 21px;
    left: 22px;
  }

  &__item--weight-gain::before {
    content: "";
    position: absolute;
    background-image: url("../img/cat_pro.svg");
    background-repeat: no-repeat;
    width: 67px;
    height: 50px;
    background-size: contain;
    top: 24px;
    left: 13px;
  }

  &__title {
    font-size: 24px;
    line-height: 37px;
    font-weight: normal;
    color: #000000;
    text-transform: uppercase;
    margin: 0;
    margin-left: 91px;
    margin-bottom: 29px;
  }


  &__description {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin-left: 20px;
    margin-right: 33px;
    padding-bottom: 23px;
    border-bottom: 1px solid #d9d9d9;
  }

  &__link {
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    margin-top: 19px;
    margin-left: 19px;
    position: relative;
  }

  &__link::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon_arrow.svg");
    background-repeat: no-repeat;
    width: 32px;
    height: 10px;
    background-size: contain;
    top: 7px;
    left: 104px;
  }

  &__link:hover::after,
  &__link:focus::after {
    background-image: url("../img/icon_arrow-hover.svg");
  }

  &__link:active {
    opacity: 0.3;
  }

  &__link:active::after {
    background-image: url("../img/icon_arrow-hover.svg");
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .features {
    .tablet-max-width();
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 0;

    &__item {
      width: 708px;
      box-sizing: border-box;
      padding-top: 77px;
      padding-left: 53px;
      padding-bottom: 57px;
      position: relative;
    }

    &__item:not(:last-child) {
      margin-bottom: 30px;
    }

    &__item--weight-loss::before {
      content: "";
      position: absolute;
      background-image: url("../img/cat_slim.svg");
      background-repeat: no-repeat;
      width: 200px;
      height: 211px;
      background-size: contain;
      top: 81px;
      left: 446px;
    }

    &__item--weight-gain::before {
      content: "";
      position: absolute;
      background-image: url("../img/cat_pro.svg");
      background-repeat: no-repeat;
      width: 268px;
      height: 200px;
      background-size: contain;
      top: 91px;
      left: 412px;
    }


    &__title {
      font-size: 36px;
      line-height: 36px;
      font-weight: normal;
      margin: 0;
      margin-bottom: 24px;
    }

    &__description {
      margin: 0;
      padding: 0;
      font-size: 16px;
      line-height: 24px;
      border: none;
      margin-bottom: 52px;
    }

    &__description--weight-loss {
      width: 377px;
    }

    &__description--weight-gain {
      width: 342px;
    }

    &__link {
      margin: 0;
      font-size: 20px;
      line-height: 30px;
    }

    &__link::after {
      content: "";
      position: absolute;
      background-image: url("../img/icon_arrow.svg");
      background-repeat: no-repeat;
      width: 32px;
      height: 10px;
      background-size: contain;
      top: 10px;
      left: 135px;
    }
  }
}

@media (min-width: @desktop-width) {
  .features {
    .desktop-max-width();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 71px;

    &__item {
      width: 570px;
      min-height: 374px;
      padding-bottom: 55px;
      padding-left: 52px;
      position: relative;
      margin: 0;
    }

    &__item:not(:last-child) {
      margin-bottom: 0;
    }

    &__item--weight-loss::before {
      content: "";
      position: absolute;
      background-image: url("../img/cat_slim.svg");
      background-repeat: no-repeat;
      width: 100px;
      height: 106px;
      background-size: contain;
      top: 41px;
      left: 52px;
    }

    &__item--weight-gain::before {
      content: "";
      position: absolute;
      background-image: url("../img/cat_pro.svg");
      background-repeat: no-repeat;
      width: 134px;
      height: 100px;
      background-size: contain;
      top: 47px;
      left: 33px;
    }

    &__title {
      margin-bottom: 73px;
      margin-left: 162px;
    }

    &__description {
      width: 467px;
      margin-bottom: 25px;
    }
  }
}
