.form-input {
  .mobile-max-width();
  margin: 0 auto;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  label {
    .form-font();
    color: #444444;
    display: flex;
    align-items: baseline;
  }

  &__input {
    .form-font();
    color: #444444;
    flex-grow: 1;
    padding-left: 15px;
    margin-left: 13px;
    margin-bottom: 10px;
    min-height: 45px;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    outline: none;
  }

  &__input::-webkit-outer-spin-button,
  &__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

  &__input:hover {
    border-color: #cdcdcd;
  }

  &__input:focus {
    border: 2px solid #444444;
  }

  &__input:invalid {
    border: 2px solid #ff8282;
  }

  &__email,
  &__phone {
    position: relative;
  }

  &__icon-email {
    width: 20px;
    height: 14.05px;
    position: absolute;
    background-image: url("../img/sprites.svg#icon__email");
    background-repeat: no-repeat;
    top: 16px;
    right: 16px;
  }

  &__input--email:focus+&__icon-email {
    background-image: url("../img/form/icon_email_active.svg");
  }

  &__icon-phone {
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url("../img/form/icon_phone.svg");
    background-repeat: no-repeat;
    top: 13px;
    right: 13px;
  }

  &__input--phone:focus+&__icon-phone {
    background-image: url("../img/form/icon_phone_active.svg");
  }
}

@media (min-width: @tablet-width) {
  .form-input {
    width: 630px;
    display: flex;
    align-items: flex-start;
    padding: 0;

    label {
      .tablet-input-width();
      font-size: 20px;
      line-height: 30px;
      display: flex;
    }

    &__input {
      font-size: 20px;
      line-height: 30px;
    }

    &--contacts {
      margin-bottom: 65px;
    }

    &__icon-email {
      width: 18px;
      height: 13px;
      background-size: contain;
      top: 18px;
      right: 19px;
    }

    &__icon-phone {
      top: 13px;
      right: 17px;
    }

    &__email {
      margin-top: 86px;
    }
  }
}

@media (min-width: @desktop-width) {
  .form-input {
    .desktop-max-width();

    &--cat-info {
      height: 200px;
      justify-content: space-between;
      box-sizing: content-box;

      label:last-child input {
        margin-bottom: 0;
      }

      label {
        width: 570px;
        margin-right: 78px;
      }
    }

    &--contacts {
      flex: 1;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      margin-bottom: 69px;

      label {
        margin-top: 86px;
        width: 570px;
      }

      label:not(:last-child) {
        margin-right: 80px;
      }
    }
  }
}
