.made-by {
  .mobile-max-width();
  margin: 0 auto;
  margin-top: 22px;

  &__name {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    position: relative;
    text-decoration: none;
  }

  &__name::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 34px;
    background-image: url("../img/logo_html.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: -168px;
    top: -5px;
  }

  &__name:hover::after,
  &__name:focus::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 34px;
    background-image: url("../img/logo_html_hover.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: -168px;
    top: -5px;
  }

  &__name:active,
  &__name:active::after {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .made-by {
    max-width: 163px;
    min-height: 34px;
    margin: 0;

    &__name {
      margin-right: 49px;
    }

    &__name::after {
      right: -49px;
      top: -8px;
    }

    &__name:hover::after,
    &__name:focus::after {
      right: -49px;
      top: -8px;
    }
  }
}
