.main-nav {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }


  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

  &__item {
    box-sizing: border-box;
    min-height: 66px;
    padding-top: 22px;
    padding-bottom: 23px;
    text-align: center;
    border-top: 1px solid #e6e6e6;

    & a {
      text-decoration: none;
      color: #000000;
    }
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: block;
    
    &__list {
      width: 440px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 42px;
    }

    &__item {
      border: none;
      font-size: 18px;
      line-height: 24px;
      font-weight: normal;
      padding: 0;
    }

    &__item:hover,
    &__item:focus {
      opacity: 0.6;
    }

    &__item:active {
      opacity: 0.3;
    }

    &__item--current a {
      padding-bottom: 6px;
      border-bottom: 2px solid #68b738;
    }

    &__item--current:hover,
    &__item--current:focus {
      opacity: 1;
    }
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    margin-top: 70px;

    &__list {
      margin-top: 0;
      min-width: 480px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &__list--index a {
      color: #ffffff;
    }

    &__list--index > &__item--current a {
      padding-bottom: 6px;
      border-bottom: 2px solid #ffffff;
    }

    &__item {
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
    }

    &__item--index:hover,
    &__item--index:focus {
      opacity: 0.6;
    }
  }
}
