.form-font {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.section-title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
}

.mobile-max-width {
  width: 280px;
}

.tablet-max-width {
  width: 708px;
}

.tablet-input-width {
  width: 630px;
}

.desktop-max-width {
  width: 1220px;
}
