.product-card {
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;

  &__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    text-transform: uppercase;
  }

  &__feature {
    font-family: Arial, san-serif;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
  }


}
