.product-card {
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  &__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #222222;
    text-transform: uppercase;
  }

  &__feature {
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
  }
}
