.promo {
  font-family: "Oswald", sans-serif;
  background-image: url("../img/promo_mobile_bg.png");
  background-repeat: no-repeat;
  @media
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    background-image: url("../img/promo_mobile_bg@2x.png");
    background-size: 320px auto;
    }
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  max-width: 320px;
  margin: 0 auto;

  &__name {
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;
  }

  &__slogan {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    margin-bottom: 29px;
    margin-right: 3px;
  }

  &__link {
    width: 280px;
    height: 40px;
    font-size: 14px;
    line-height: 18px;
    margin-top: -2px;
  }
}



@media (min-width: @tablet-width) {
  .promo {
    .tablet-max-width();
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: none;
    position: relative;

    &__name {
      font-weight: normal;
      font-size: 60px;
      line-height: 60px;
      color: #000000;
      width: 414px;
      text-align: left;
      margin-left: 88px;
    }

    &__slogan {
      font-size: 20px;
      line-height: 20px;
      color: #000000;
      margin-left: 88px;
    }

    &__image {
      width: 709px;
      height: 609px;
    }

    &__link {
      width: 244px;
      min-height: 54px;
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 526px;
      position: absolute;
      top: 260px;
      left: 88px;
    }
  }
}

@media (min-width: @desktop-width) {
  .promo {
    .desktop-max-width();
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 111px;
    margin-left: 45px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 720px;
      height: 694px;
      background-image: url("../img/promo_desktop_bg.png");
      @media
      (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background-image: url("../img/promo_desktop_bg@2x.png");
        background-size: 720px auto;
    }
      background-color: #68b738;
      background-repeat: no-repeat;
      top: -120px;
      right: -175px;
      z-index: -1;
    }


    &__name {
      font-weight: normal;
      font-size: 60px;
      line-height: 60px;
      color: #000000;
    }

    &__slogan {
      width: 283px;
      font-size: 20px;
      line-height: 20px;
      color: #000000;
    }

    &__image {
      width: 552px;
      height: 499px;
      position: absolute;
      top: 30px;
      right: 155px;
    }

    &__link {
      position: static;
      margin-top: 52px;
      margin-bottom: 267px;
      margin-left: 80px;
    }
  }
}
